body {
    background-color: white;
}

header {
    position: relative;
}

a {
    text-decoration: none;
    color: black;
}

.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: black;
    width: 50%;
    color: black;
    border: 50px;
    padding: 1em;
    
}

.title:hover {    
    background-color: orange;
    color: black;      
}

nav {
    width: max-content;
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 400px;
    align-items: center;
}

/*td {
    border: 10px;
    padding-left: 10px;  
    padding-right: 10px; 
}*/

.menu {
    font-size: 28px;
    display: inline-block;
    height: fit-content;
    width: fit-content;
    border: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;  
    padding-right: 50px; 
}

.menu:hover {
    background-color: orange;
    font-weight: bold;
}

article {
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 400px;
    text-align: justify;
}


footer {
    position: relative;
    bottom: 0px;
    left: 720px;
}

.principal {
    color: black;
    margin-bottom: 50px;
    width: fit-content;
    padding-top: 25px;
    padding-bottom: 25px ;
    padding-left: 25px;
    padding-right: 25px;
}

.principal:hover {
    background-color: green;
    color: black;    
}

p {
    font-size: 22px;
}

.rodape {
    color: black;
}

.rodape:hover {
    color: limegreen;
}

.botao {
    margin-left: 780px;
}