body {
    background-color: #010101;
}

header {
    position: relative;
    top: 50px;
    left: 700px;
}

a {
    text-decoration: none;
    color: white;
}

.title {
    text-decoration: none;
    color: white;
    width: fit-content;
    color: white;
    border: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;  
    padding-right: 50px;
}

.title:hover {    
    background-color: blue;
    color: white;      
}

nav {
    width: max-content;
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 400px;
    align-items: center;
}

/*td {
    border: 10px;
    padding-left: 10px;  
    padding-right: 10px; 
}*/

.menu {
    height: fit-content;
    width: fit-content;
    background-color: blue;
    border: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;  
    padding-right: 50px; 
}

.menu:hover {
    background-color: green;
}

article {
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 400px;
    text-align: justify;
}


footer {
    position: absolute;
    bottom: 10px;
    left: 720px;
}

.principal {
    color: white;
    margin-bottom: 50px;
    width: fit-content;
    padding-top: 25px;
    padding-bottom: 25px ;
    padding-left: 25px;
    padding-right: 25px;
}

.principal:hover {
    background-color: green;
    color: white;    
}

p {
    font-size: 22px;
}

.rodape {
    color: white;
}

.rodape:hover {
    color: limegreen;
}

.botao {
    margin-left: 780px;
}